<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app1">
<!--  1.checkbox单选框 对应Boolean类型-->
  <label for="agree">
<!--      label写for 指向了radio 所以点击字也可以勾上-->
    <input type="checkbox" id="agree" v-model="isAgree">同意协议
  </label>
  <h2>您选择的是: {{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>
</div>

<div id="app">
  <!--2.checkbox多选框 对应数组类型-->
<!--  <input type="checkbox" value="篮球" v-model="hobbies">篮球-->
<!--  <input type="checkbox" value="足球" v-model="hobbies">足球-->
<!--  <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球-->
<!--  <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球-->
  <h2>您的爱好是: {{hobbies}}</h2>

  <label v-for="item in originHobbies" :for="item">
    <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
  </label>
</div>

<script src="../js/vue.js"></script>
<script>
  const app1 = new Vue({
    el: '#app1',
    data: {
      isAgree: false, // 单选框
    }
  })
  const app = new Vue({
    el: '#app',
    data: {
      hobbies: [], // 多选框,
      originHobbies: ['篮球', '足球', '乒乓球', '羽毛球', '台球', '高尔夫球']
    }
  })
</script>

</body>
</html>